<h1>Update your article</h1>

<%= form_for @article do |f| %>
  <%= f.label :title, "A title" %>
  <%= f.text_field :title %>
  <%= f.label :content, "Content" %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
